<% content_for :body, ' class=landing-body' %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 landing-box login">
      <h1>Login</h1>

      <%= bootstrap_form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.check_box :remember_me %>
        <%= f.submit 'Sign in' %>
      <% end %>
      <p><%= link_to "Forgot your password?", new_password_path(:user) %></p>
      <p><a href="#" onclick="showForm('signup')">Sign Up</a></p>
    </div>
    <div class="col-sm-6 landing-box signup">
      <h1>Sign Up</h1>

      <%= bootstrap_form_for(:user, url: registration_path(:user)) do |f| %>
          <%= f.text_field :username %>
          <%= f.email_field :email, autofocus: true %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <%= f.select(:gender, [['male'],['female']]) %>
          <%= f.date_select :dob, label: "Date of Birth" %>
          <%= f.number_field :weight %>
          <%= f.number_field :height %>

          <%= f.submit "Sign up" %>
      <% end %>
      <p><a href="#" onclick="showForm('login')">Login</a></p>
    </div>
  </div>
</div>
